body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom right, #242221, #413e3d, #242221),
    repeating-radial-gradient(
      circle at 0 0,
      transparent 0,
      transparent 0.9375rem,
      rgba(0, 0, 0, 0.1) 1.875rem
    );
  background-size: 100% 100%, 4.6875rem 3.125rem;
  overflow-x: hidden;
}

/* Barra de navegacion */
.navbar {
  font-family: Arial, sans-serif;
  list-style-type: none;
  align-items: center;
  padding: 0.5rem;
  height: 6.25rem;
  justify-content: space-between;
}

.navbar-collapse {
  align-items: center;
  justify-content: space-between;
}

.nav-logo {
  display: flex;
}

.nav-logo img {
  margin-left: 3.125rem;
  margin-right: 0.0625rem;
  margin-top: 0.9375rem;
  padding-bottom: 0.3125rem;
  width: 6.25rem;
  height: 6.875rem;
  border-radius: 50%;
  justify-content: right;
}

.navbar h2 {
  margin-left: 0%;
  margin-right: 0.625rem;
  padding-top: 1.75rem;
  margin-top: 0.9375rem;
  align-items: center;
  font-family: "Sumana", serif;
  font-weight: 420;
  font-style: normal;
  color: #b0aba0;
}

.nav-item {
  display: inline-block;
  margin-left: 1.25rem;
  padding: 0;
  text-align: left;
}

.nav-item .btn {
  color: #b0aba0;
  padding: 0.5rem;
  border-radius: 0;
  cursor: pointer;
  font-family: Arial, sans-serif;
  font-size: 1.25rem;
  transition-duration: 0.4s;
  margin-top: 0.9375rem;
  margin-right: 0.9375rem;
}

.btn:hover {
  border-bottom-color: #e8d5ae;
}

#contact {
  background-color: #413e3d;
  border-radius: 6.25rem;
  color: #ecd4a5;
}

#contact:hover {
  background-color: #201c1b;
  border-bottom-color: #201c1b;
}

/* Informacion principal */
.section1 {
  padding: 0.625rem;
  padding-bottom: 0;
  text-align: left;
  height: 130rem;
  margin-top: 6.25rem;
  width: 100%;
  grid-template-columns: 1fr;
  justify-items: left;
}

.section1 h1 {
  width: 68.75rem;
  margin: 0 auto;
  font-family: "Sumana", serif;
  font-weight: 400;
  font-style: normal;
  color: #b0aba0;
  font-size: 3.125rem;
  margin-top: 0.3125rem;
  margin-bottom: 0.3125rem;
  margin-left: 25%;
}

.section1 h2 {
  font-family: "Sumana", serif;
  font-weight: 420;
  font-style: normal;
  font-size: 1.5625rem;
  color: #78756f;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 0;
}

.section1 label {
  font-family: "Sumana", serif;
  font-weight: 420;
  font-style: normal;
  margin: 0 auto;
  margin-top: 1.5625rem;
  margin-bottom: 9.375rem;
  background-color: #f0cf8e;
  text-align: center;
  width: 6.25rem;
  color: #242322;
  border-radius: 6.25rem;
  bottom: unset;
  padding: 0.3125rem;
  margin-left: 370%;
}

strong {
  color: #f0cf8e;
}

.section1 label:hover {
  background-color: #242322;
  color: #e8d5ae;
}

.section2 {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 1.875rem;
  padding-bottom: 0;
  height: 35rem;
  width: 100%;
  margin-top: 5rem;
  background-color: #242221;
  justify-items: left;
  margin-bottom: 0;
}

.image-container {
  position: relative;
  width: 15.625rem;
  margin-left: 15%;
}

.image-container img {
  display: block;
  height: 18.75rem;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
  position: relative;
  z-index: 2;
}

.image-container::before {
  content: "";
  position: absolute;
  top: 20px;
  left: 20px;
  width: 100%;
  height: 100%;
  border: 3px solid #f9f68e;
  border-radius: 5px;
  z-index: 1;
}

.description-container {
  max-width: 50%;
  margin-left: 5%;
  align-items: flex-start;
}
.description-container h1 {
  text-align: left;
  margin: 0;
  font-size: 2.5rem;
  color: #ecd4a5;
  margin-bottom: 5%;
}
.description-container h5 {
  text-align: left;
  margin: 0;
  color: #b0aba0;
  margin-bottom: 5%;
}
.description-container p {
  text-align: left;
  margin: 0;
  color: #b0aba0;
  margin-bottom: 5%;
}
.description-container .iconos-redes-sociales a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  width: fit-content;
  padding: 1.8%;
}
.programs {
  width: 100%;
  background-image: linear-gradient(
    to left,
    #f0cf8ef1,
    #f0cf8e53,
    #53483b82,
    #242221ab,
    #242221ed
  );
  padding: 1.5rem;
  text-align: center;
  margin-top: 0;
}

.programs ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 10rem;
}

.programs ul li {
  color: #cac6bf;
  font-size: 1.2rem;
  font-family: Arial, sans-serif;
  opacity: 0.8;
  transition: opacity 0.2s;
  cursor: default;
}

.programs ul li:hover {
  opacity: 1;
}

.section3 {
  padding: 0;
  width: 90%;
  margin-left: 2.5%;
  margin-top: 8rem;
}
.subtitle {
  color: #f0cf8e;
  font-size: 1.2rem;
  margin-bottom: 10px;
  margin-left: 18%;
}

.section3 .title {
  font-family: "Sumana", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  text-align: left;
  margin-left: 18%;
  color: #b0aba0;
}

.services-container {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  padding: 2rem;
  align-items: center;
  margin-left: 15%;
}

.service-card {
  background-color: #242221;
  padding: 2rem;
  border-radius: 10px;
  width: 250px;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.service-card i {
  font-size: 3rem;
  color: #f0cf8e;
  margin-bottom: 1rem;
  color: #b0aba0;
}

.service-card h3 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  color: #f0cf8e;
}

.service-card p {
  font-size: 0.9rem;
  color: #b0aba0;
}

.service-card:hover {
  transform: scale(1.05);
}

/* Secci贸n Featured Projects */
.featured-projects {
  align-items: center;
  text-align: center;
  width: 100%;
  margin-top: 10rem;
}

/* Encabezado de la secci贸n */
.header {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  align-items: center;
  margin-left: 12rem;
  width: 100%;
}

.title h2 {
  margin-bottom: 1rem;
  font-size: 2.5rem;
  color: #b0aba0;
  width: 100%;
}

.title p {
  font-size: 0.9rem;
  color: #aaa;
}

.header .btn {
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  transition: 0.3s;
  margin-left: 20rem;
  background-color: #242221;
}

/* Contenedor de proyectos */
.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
  width: 90%;
  margin-top: 2rem;
  margin-left: 5rem;
}

.project-card {
  background-color: #242221;
  padding: 1rem;
  border-radius: 10px;
  text-align: center;
  color: #b0aba0;
  transition: transform 0.3s ease-in-out;
}

.project-card img {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.project-card h3 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.project-card a {
  text-decoration: none;
  color: #f0cf8e;
  font-weight: bold;
  transition: 0.3s;
}

.project-card a:hover {
  color: #deb460;
}
.project-card:hover {
  transform: scale(1.05);
}

/* Secci贸n de Call to Action (CTA) */
.cta {
  background-color: #f0cf8ec7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  margin-top: 25rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
  color: #242221;
  width: 80%;
  margin-left: 10rem;
}

.cta-text h2 {
  font-size: 1.5rem;
  color: #242221;
  margin-bottom: 0.5rem;
}

.cta-text p {
  font-size: 0.9rem;
  color: #242221;
}
.cta .btn {
  font-weight: bold;
}

/* Pie de pagina (footer) */
footer {
  min-height: 19rem;
  background-color: #242322;
}

.footer-logo {
  height: 8.125rem;
  width: 7.5rem;
  margin: 0.625rem;
}

.footer-texto {
  font-size: 1.3rem;
  padding: 1.25rem;
  margin-bottom: 1.875rem;
  color: #a09c93;
  font-family: Arial, sans-serif;
}

.iconos-redes-sociales a {
  width: 3.125rem;
  height: 3.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.125rem;
  margin: 0.625rem;
  border: 0.125rem solid #a09c93;
  border-radius: 50%;
  transition: all 0.2s ease-in;
}

.iconos-redes-sociales i {
  color: #a09c93;
  font-size: 1.5rem;
  transition: all 0.2s ease-in;
}

.iconos-redes-sociales a:hover {
  background-color: #a09c93;
  border: 0.125rem solid #78756f;
}

.iconos-redes-sociales a:hover i {
  color: #242322;
}

.derechos-de-autor {
  font-size: 0.9375rem;
  color: #b0aba0;
  padding: 1.25rem;
}

/* Responsive */

@media (max-width: 1024px) {
  /* Ajuste general para tablets */
    .navbar h2 {
    font-size: 1.5rem;
    }

    .section1 h1 {
    width: auto;
    font-size: 2.5rem;
    margin-left: 0;
    text-align: center;
    }

    .section2 {
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 2rem;
    }

    .image-container {
    width: 70%;
    margin-left: 0;
    }

    .description-container {
    max-width: 100%;
    margin: 1rem 0;
    text-align: center;
    } 

    .programs ul {
    flex-wrap: wrap;
    gap: 2rem;
    }

    .projects-container {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    margin-left: 0;
    }

    .services-container {
    flex-wrap: wrap;
    margin-left: 0;
    }

    .cta {
    flex-direction: column;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    }
}

@media (max-width: 768px) {
  /* Ajuste para m贸viles */
    .navbar {
    flex-direction: column;
    height: auto;
    }

    .navbar h2 {
    padding-top: 0;
    margin: 1rem 0;
    }

    .nav-logo img {
    width: 4rem;
    height: 4rem;
    margin: 0;
    }

    .nav-item {
    display: block;
    text-align: center;
    margin: 0.5rem 0;
    }

    .section1 {
    padding: 1rem;
    height: auto;
    margin-top: 2rem;
    }

    .section1 h1 {
    font-size: 2rem;
    }

    .section1 h2 {
    width: 90%;
    font-size: 1.2rem;
    }

    .image-container {
    width: 100%;
    }

    .description-container h1 {
    font-size: 2rem;
    }

    .programs ul {
    flex-direction: column;
    gap: 1rem;
    }

    .services-container {
    flex-direction: column;
    padding: 1rem;
    }

    .service-card {
    width: 90%;
    }

    .featured-projects .header {
    flex-direction: column;
    margin: 0;
    }

    .projects-container {
    grid-template-columns: 1fr;
    margin-left: 0;
    }

    .cta {
    padding: 1rem;
    width: 95%;
    margin-top: 5rem;
    }

    .footer-texto {
    font-size: 1rem;
    padding: 0.5rem;
    }

    .iconos-redes-sociales a {
    width: 2.5rem;
    height: 2.5rem;
    }
}

@media (max-width: 480px) {
    .section1 h1 {
    font-size: 1.8rem;
    }

    .section1 h2 {
    font-size: 1rem;
    }

    .programs ul li {
    font-size: 1rem;
    }

    .title h2 {
    font-size: 2rem;
    }

    .service-card {
    padding: 1rem;
    }

    .cta h2 {
    font-size: 1.2rem;
    }

    .cta p {
    font-size: 0.8rem;
    }

    .footer-texto {
    font-size: 0.9rem;
    }

    .derechos-de-autor {
    font-size: 0.8rem;
    }
}
