body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: 
    linear-gradient(to bottom right, #a99488,  #b7a499, #a99488),
    repeating-radial-gradient(circle at 0 0, transparent 0, transparent 15px, rgba(0,0,0,0.1) 30px);
    background-size: 100% 100%, 75px 50px;  
   
  }

/* Barra de navegacion */

.navbar {
    font-family: Arial, sans-serif;
    list-style-type: none;
    align-items: center;
    padding: 8px;
    height: 100px;
    justify-content: space-between; 
    /*border: 2px solid #6f625a;*/
 
    }
    .navbar-collapse {
      align-items: center;
      justify-content: space-between;  
    }
    
    .nav-logo{
      display: flex;
    }

    .nav-logo img{
      margin-left: 5px;
      margin-right: 10px;
      padding-bottom: 5px;
      width: 110px;
      height: 110px;
      border-radius: 50%;
      justify-content:right;
    

    } 
    .navbar h2{
      margin-left: 5px;
      margin-right: 10px;
      padding-top: 28px;
      align-items: center;
      font-family: "Sumana", serif;
      font-weight: 400;
      font-style: normal;
      color: #4d3f38;
    }


    .nav-item{
      display: inline-block;
      margin-left: 20px;
      padding: 0;
      text-align: left; 
    }

    .nav-item .btn{
      color: #584a42;
      padding:8px;
      border-radius: 100px;
      cursor: pointer;
      font-family: Arial, sans-serif;
      font-size: 20px;
      transition-duration: 0.4s;
      margin-top: 15px;
      margin-right: 15px;
    }
    .nav-item .btn:hover{
      background-color: #b29a8c;
    }
    #contact {
    background-color:#9e8678 ;
    color:#d1c4bd;
    }

    #contact:hover{
      background-color: #5e4c42 ;
    }
    /* Informacion principal */

    .section1{
      padding: 10px;
      padding-bottom: 0px;
      text-align: center;
      height: 611px;
      
    }
    
    .section1 h1{
      width: 1100px;
      text-align: center;
      margin: 0 auto;
      font-family: "Sumana", serif;
      font-weight: 400;
      font-style: normal;
      color: #4d3f38;
      font-size: 80px;
    }
    .section1 h2{
      font-size: 1.2rem;
      color: #615151;
      margin-top: 20px;
      width: 50%;
      margin: 0 auto;
      margin-bottom: 0px;
    }
    



    
    /* Pie de pagina (footer) */

footer {
  min-height: 300px;
  background-color: #968074;
}

.footer-logo {
  height: 130px;
  width: 130px;
  margin: 10px;
}

.footer-texto {
  font-size: 1.3rem;
  padding: 20px;
  margin-bottom: 30px;
  font-family: Arial, sans-serif;
}

.iconos-redes-sociales a {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  margin: 10px;
  border: 2px solid #c5b4aa;
  border-radius: 50%;
  transition: all 0.2s ease-in;
}

.iconos-redes-sociales i {
  color: #c5b4aa;
  font-size: 1.5rem;
  transition: all 0.2s ease-in;
}

.iconos-redes-sociales a:hover {
  background-color: #c5b4aa;
  border: 2px solid #ad9984;
}

.iconos-redes-sociales a:hover i {
  color:#4d3f38;
}

.derechos-de-autor {
  font-size: 15px;
  color: #aeaeae;
  padding: 20px;
}